.hits {
    margin-top: 110px;
    &-wrapper {
        margin-top: 85px;
        display: flex;
        justify-content: space-around;
        
    }
}

@media screen and (max-width: 992px) {
    .hits {
        &-wrapper {
            gap: 30px;
            &__photo {
                width: 50%;
            }
        }
    }
    
}
@media screen and (max-width:576px){
    .hits {
        &-wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
    
}