.promo {

    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 475px;
        text-align: center;
        color: #000000;
        text-transform: uppercase;
    }
    &__photo {
        position: absolute;
        bottom: 0;
        width: 100%;

    }
    .container_flex {
        padding-top: 150px;
        position: relative;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .promo {

        &__title {
            font-size: 340px;
        }
    }
}
@media screen and (max-width: 992px) {
    .promo {
        .container_flex {
            padding-top: 100px;
        }
        &__title {
            font-size: 265px;
        }
    }
}
@media screen and (max-width: 768px) {
    .promo {
        &__title {
            font-size: 185px;
        }
    }
}
@media screen and (max-width: 576px) {
    .promo {
        
        &__photo {
            max-height: 100%;
        }
        &__title {
            width: 100%;
            font-size: 26vw;
        }
    }
}