.promo {

    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 475px;
        text-align: center;
        color: #000000;
        text-transform: uppercase;
    }
    &__photo {
        position: absolute;
        bottom: 0;

    }
    .container_flex {
        min-height: 771px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items:center;
    }
}