.history {
        &__hero {
            display: flex;
            margin-top: 90px;
            max-width: 900px;
            flex-direction: column-reverse;
            .carousel-indicators {
                display: block;
                margin: 66px 0 0 0;
                position: relative;
                button {
                    height: 18px;
                    width: 48px;
                    margin: 0;
                    background: rgba(0, 0, 0, 0.15);
                    &:first-child {
                        border-top-left-radius: 100%;
                        border-bottom-left-radius: 100%;
                    }
                    &:last-child {
                        border-top-right-radius: 100%;
                        border-bottom-right-radius: 100%;
                    }
                    &.active {
                        background: #000000;
                    }

                }

            }
            .carousel-caption {
                background: linear-gradient(70.42deg, #111111 15.93%, rgba(0, 0, 0, 0) 115.05%);
                width: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 7px 10px;
            }
        }
    }


