@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#light {
  background-color: #fff;

}

#dark {
  background-color: #000;
  .header{
    &__link {
      color:#fff;
    }
    &__switcher {
      background: #fff;
    }
  }
  .about {
    &__shadow {
      background: linear-gradient(70.42deg, #2B2B2B 15.93%, rgba(0, 0, 0, 0) 115.05%);
    }
    &__title {
      color: #fff;
    }
    &__descr {
      color: #fff;
    }
    &__button {
      &::after {
        color: #fff;
      }
    }
  }
  .promo__title {
    color: #fff;
  }
  .section {
    &-header {
      &__title {
        color: #fff;
        &::before {
          background: #fff;
        }
        &::after {
          background: #fff;
        }
      }
    }
  }
  .footer {
    .news {
      &__title {
        color: #fff;
      }
      &__descr {
        color: #fff;
      }
      &__contact {
        color: #fff;
      }
      &__mail {
        color: #fff;
      }
      &__location {
        color: #fff;
      }
      .form {
        &__input {
          border: 1px solid #fff;
          background-color: #000;
          color: #fff;
        }
        &__submit {
          background-color: #272727;
          border: 1px solid #fff;
          color: #fff;
        }
      }
    }
  }
}

